{% extends "base.html.twig" %}


{% block body %}
	<div class="container mt-5" style="width: 25vw">
	<h2>Ajouter une nouvelle catégorie</h2>
		{{ form_start(form) }}

		{{ form_widget(form) }}

		<button type="submit" class="btn btn-light">Ajouter</button>

		{{ form_end(form) }}
	</div>

{% endblock %}
