{% extends 'base.html.twig' %}

{% block title %}Hello ReviewController!{% endblock %}

{% block body %}


<div class="coontainer">
    <h1>Avis ✅</h1>

     <ul>
    {% for review in reviews %}
        <li> {{review.reviewText}}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
