{% extends "base.html.twig" %}

{% block body %}

<h1>Bienvenue !</h1>
<a href="/program/"><p>Index des séries</p></a>
<a href="/program/new"><p>Ajouter une série</p></a>
<a href="/category/new"><p>Ajouter une catégorie</p></a>

{% endblock %}